<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tytle %>
    <%= form.text_field :tytle, id: :site_tytle %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :site_description %>
  </div>

  <div class="field">
    <%= form.label :site_key %>
    <%= form.text_field :site_key, id: :site_site_key %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :site_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
